<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-accordion>

                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Are you having feedback for us?
                        </mat-panel-title>
                        <mat-panel-description>
                            Click here and write
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="text-center">
                        <form [formGroup]="feedBackFormG" (ngSubmit)="onFeedBackFormSubmit()">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Your feedback?</mat-label>
                                    <input matInput placeholder="Write your feedback" formControlName="userFeedback">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>Write your feedback</mat-hint>
                                </mat-form-field>
                            </p>
                            <button mat-stroked-button [disabled]="feedBackFormG.invalid" type="submit">
                                Submit Feedback</button>
                        </form>
                    </div>
                </mat-expansion-panel>

                <p></p>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Are you having problem?
                        </mat-panel-title>
                        <mat-panel-description>
                            Click here and write
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- <p>This is the primary content of the panel.</p> -->
                    <div class="text-center">
                        <form [formGroup]="userProblemFormG" (ngSubmit)="onProblemFormSubmit()">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Your problem?</mat-label>
                                    <input matInput placeholder="Write Your problem here" formControlName="userProblem">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>Write your problem</mat-hint>
                                </mat-form-field>
                            </p>
                            <button mat-stroked-button [disabled]="userProblemFormG.invalid" type="submit">
                                Submit Problem</button>
                        </form>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>
<p></p>