.nav-item {
  &:hover {
    background-color: whitesmoke;
  }
}

// $dgImg : 'https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/smallBG.png?alt=media&token=fb93b49e-8cc3-41b0-a78b-e4f874e1188d';
// #catList{
//   background-image: url($dgImg);
//   background-attachment: fixed;
// }

// .navbar-brand{
//   @extend .nav-item
// }

@import "../../styles.scss";
#mainHeaderDiv {
  background-color: $bgColor;
}

@media only screen and (max-width: 576px) {
  // #first {
  //   order: 1;
  //   padding: 0%;
  // }
  // #second {
  //   order: 3;
  //   padding: 0%;
  // }
  // #third {
  //   order: 2;
  //   padding: 0%;
  //   justify-content: end;
  // }
}

// mat-icon {
//   // display: flex;
//   // height: 6vh;
//   // width: 8vh;
//   // justify-content: end;
//   &:hover {
//     background-color: whitesmoke;
//   }
// }

#third {
  justify-content: space-between;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
