<!-- below code is just for large devices -->
<div id="mainHeaderDiv catList">
  <div class="container-fluid d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="row justify-content-center">
      <div class="col-md-2 col-lg-2 col-xl-2 text-center d-flex align-items-center">
        <mat-icon style="cursor: pointer;" title="Home" routerLink="/" aria-hidden="false" aria-label="home">
          home</mat-icon>
      </div>
      <div id="first" class="col-md-2 col-lg-2 col-xl-2 justify-content-start">
        <!-- show city list -->
        <mat-form-field class="example-full-width" matTooltip="Search for city here">
          <mat-label>Select City</mat-label>
          <input type="text" matInput [formControl]="cityMyControl" md-select-on-match [matAutocomplete]="cityAutoList">
          <mat-autocomplete autoActiveFirstOption #cityAutoList="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of cityFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- show city list -->
      </div>
      <div id="second" class="col-md-5 col-lg-5 col-xl-6">
        <form class="example-form pl-3 pr-3 pt-0">
          <mat-form-field class="example-full-width" matTooltip="Search for products here">
            <input type="text" placeholder="Search Products" aria-label="Number" matInput [formControl]="myControl"
              md-select-on-match [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
              (optionSelected)="searchSelectedProduct($event)">
              <mat-option *ngFor="let productCat of filteredOptions | async" [value]="productCat">
                {{productCat}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div id="third" class="col-md-3 col-lg-3 col-xl-2 text-center d-flex align-items-center">
        <mat-icon *ngIf="userIsSignIn==true;" style="cursor: pointer;" svgIcon="notification" aria-hidden="false"
          title="Notification" aria-label="Notification" aria-hidden="false" aria-label="Notification">
        </mat-icon>

        <mat-icon *ngIf="userIsSignIn==true;" style="cursor: pointer;" title="Cart" routerLink="/cart"
          aria-hidden="false" aria-label="Cart">
          shopping_bag</mat-icon>

        <mat-icon *ngIf="userIsSignIn==true;" style="cursor: pointer;" svgIcon="wishList" aria-hidden="false"
          title="Wish List" routerLink="/wish" aria-label="Wish List" aria-hidden="false" aria-label="Wish List">
        </mat-icon>

        <mat-icon *ngIf="userIsSignIn==true;" style="cursor: pointer;" title="Profile" routerLink="/profile"
          aria-hidden="false" aria-label="profile">
          account_circle</mat-icon>

        <mat-icon *ngIf="userIsSignIn==true;" style="cursor: pointer;" (click)="logOutUser()" title="LogOut"
          aria-hidden="false" aria-label="logOut">
          reply</mat-icon>

        <mat-icon *ngIf="userIsSignIn==false;" style="cursor: pointer;" title="LogIn" routerLink="/signin"
          aria-hidden="false" aria-label="LogIn">
          exit_to_app</mat-icon>
      </div>
    </div>
  </div>
</div>

<!-- below code is just for very small & small devices -->
<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="row">
            <div class="col-12 col-sm-12 text-center">
              <!-- show city list -->
              <mat-form-field class="example-full-width" matTooltip="Search for city here">
                <mat-label>Select City</mat-label>
                <input type="text" matInput [formControl]="cityMyControl" md-select-on-match
                  [matAutocomplete]="cityAutoList">
                <mat-autocomplete autoActiveFirstOption #cityAutoList="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of cityFilteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <!-- show city list -->
            </div>

            <div class="col-8 col-sm-8">
              <form class="example-form pl-3 pr-3 pt-0">
                <mat-form-field class="example-full-width" matTooltip="Search for products here">
                  <input id="searchProduct" name="searchProduct" type="text" placeholder="Search Products"
                    aria-label="Number" matInput [formControl]="myControl" md-select-on-match [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="searchSelectedProduct($event)">
                    <mat-option *ngFor="let productCat of filteredOptions | async" [value]="productCat">
                      {{productCat}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>

            <div class="col-4 col-sm-4 text-right">
              <button class="navbar-toggler text-right" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" routerLink="/" data-toggle="collapse" data-target=".navbar-collapse.show">Brand</a>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

              <li class="nav-item active">
                <a class="nav-link" routerLink="/" data-toggle="collapse" data-target=".navbar-collapse.show">Home <span
                    class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item" *ngIf="userIsSignIn==true;">
                <a class="nav-link" routerLink="/cart" data-toggle="collapse" data-target=".navbar-collapse.show">Cart
                  List</a>
              </li>

              <li class="nav-item" *ngIf="userIsSignIn==true;">
                <a class="nav-link" routerLink="/wish" data-toggle="collapse" data-target=".navbar-collapse.show">Wish
                  List</a>
              </li>
              <li class="nav-item" *ngIf="userIsSignIn==true;">
                <a class="nav-link" routerLink="/profile" aria-hidden="false" aria-label="profile"
                  data-toggle="collapse" data-target=".navbar-collapse.show">Profile</a>
              </li>
              <li class="nav-item" *ngIf="userIsSignIn==true;">
                <a class="nav-link" (click)="logOutUser()" data-toggle="collapse"
                  data-target=".navbar-collapse.show">LogOut</a>
              </li>
              <li class="nav-item" *ngIf="userIsSignIn==false;">
                <a class="nav-link" routerLink="/signin" data-toggle="collapse"
                  data-target=".navbar-collapse.show">LogIn</a>
              </li>
              <!-- <button mat-button>
                        <mat-icon *ngIf="userIsSignIn==true;" style="cursor: pointer;" title="Profile" routerLink="/profile"
                          aria-hidden="false" aria-label="profile">
                          account_circle</mat-icon> Profile
                      </button> -->
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- <p>height = {{height}}</p>
<p>width = {{width}}</p> -->