<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6 d-none d-sm-none d-md-block d-lg-block d-xl-block">
      <img id="footerImg"
        src="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/footerImg.svg?alt=media&token=8fbc9b7b-4d17-4620-9b61-959f295b9964"
        loading="eager" class="img-fluid">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h5><b>Introduction:</b></h5>
      <p>
        <small>introductions can coax the user further into the website. If the introduction is colorful,
          well-designed
          and
          has a good title, the user will be interested in the rest of the content. The other advantage is that you
          can
          provide quick information about your business or website to new users.</small>
      </p>
      <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
        <h5><b>Location where we sell:</b></h5>
        <p>
          <small>introductions can coax the user further into the website. If the introduction is colorful,
            well-designed and
            has a good title, the user will be interested in the rest of the content. The other advantage is that
            you
            can
            provide quick information about your business or website to new users.</small>
        </p>

        <!-- background set as gray cutting paper type -->
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xl-4">
            <h5><b>Categories List:</b></h5>
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12" *ngFor="let cat of (catList | async); let i = index;">
                <small>{{cat.name}}</small>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-8 col-xl-8">
            <h5><b>Brands of products we sell:</b></h5>
            <div class="row">
              <div class="col-md-4 col-lg-4 col-xl-4" *ngFor="let brand of (brandsList | async)">
                <small style="white-space: nowrap;">{{brand.name}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- below code is for mobile phone to show location / cat / brand -->
    <div class="col-12 col-sm-12">
      <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
        <h5><b>Location where we sell:</b></h5>
        <p>
          <small>introductions can coax the user further into the website. If the introduction is colorful,
            well-designed and
            has a good title, the user will be interested in the rest of the content. The other advantage is that you
            can
            provide quick information about your business or website to new users.</small>
        </p>
        <div class="row">
          <div class="col-4 col-sm-3">
            <h5><b>Categories List:</b></h5>
            <div class="row">
              <div *ngFor="let cat of (catList | async); let i = index;" class="col-12 col-sm-12">
                <small>{{cat.name}}</small>
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-9">
            <h5><b>Brands of products we sell:</b></h5>
            <div class="row">
              <div class="col-4 col-sm-4" *ngFor="let brand of (brandsList | async)">
                <small style="white-space: nowrap;text-overflow: ellipsis;">{{brand.name}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- till now code is for mobile phone to show location / cat / brand -->
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12
      text-center justify-content-center align-content-center align-self-center center">
      <small><b>Userfull Links</b></small><br>
      <small><a routerLink="/aboutUs" (click)="topFunction()">About Us</a></small>
      <br>
      <small><a routerLink="/contactUs" (click)="topFunction()">Contact Us</a></small>
      <br>
      <small><a routerLink="/feedback" (click)="topFunction()">Feedback</a></small>
    </div>

  </div>
</div>