@import "../../styles.scss";

$bgImg: "https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/smallBG.png?alt=media&token=fb93b49e-8cc3-41b0-a78b-e4f874e1188d";

// #footer{
//   //background-image: url($bgImg);
//   //background-color: $bgColor;
// }
// .row #setBG {
//   background-image: url($bgImg);
//   background-size: 100vw 100vh;
//   background-position: center;
//   // display: block;
//   // -webkit-background-size: contain;
//   // -moz-background-size: contain;
//   // -o-background-size: contain;
//   background-repeat: no-repeat;
// }

#footerImg {
  margin-top: -5%;
  height: 80%;
  width: 100%;
}

// mat-grid-tile > ::ng-deep figure {
//   justify-content: flex-start !important;
// }
