<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-1 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sign In Or Sign Up</mat-card-title>
          <mat-card-subtitle>Sign In Below</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <div class="row">
          <div class="col"></div>
          <div class="col text-center">
            <mat-card-content>
              <form [formGroup]="signInFormG" (ngSubmit)="onEmailPasswordFormSubmit()">

                <mat-form-field>
                  <mat-label>Company (disabled)</mat-label>
                  <input matInput disabled value="Brand Name">
                </mat-form-field>

                <p *ngIf="showNameEle">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter your Name</mat-label>
                    <input matInput placeholder="Name Surname" formControlName="userName" required>
                    <mat-hint align="start"><strong>Enter Name Surname</strong>
                    </mat-hint>
                    <!-- <mat-error *ngIf="userEmail.touched && userEmail.errors.required">Email is Required</mat-error> -->
                    <mat-error *ngIf="userNameMessage">{{userNameMessage}}</mat-error>
                  </mat-form-field>
                </p>

                <mat-form-field appearance="outline">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="userEmail" required>
                  <mat-hint align="start"><strong>Enter Your valid email</strong>
                  </mat-hint>
                  <!-- <mat-error *ngIf="userEmail.touched && userEmail.errors.required">Email is Required</mat-error> -->
                  <mat-error *ngIf="emailMessage">{{emailMessage}}</mat-error>
                </mat-form-field>
                <p></p>
                <p *ngIf="showPassEle">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <mat-hint align="start"><strong>Don't write number as first letter of your password</strong>
                    </mat-hint>
                    <input matInput [type]="passVisHide ? 'password' : 'text'" formControlName="userPassword" required>
                    <mat-error *ngIf="passMessage">{{passMessage}}</mat-error>
                    <button mat-icon-button matSuffix (click)="togglePass()" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="passVisHide">
                      <mat-icon>{{passVisHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>
                <div class="text-center">
                  <mat-spinner *ngIf="sendingPasswordResetLink || signInSignUp"></mat-spinner><br>
                  <button *ngIf="!sendingPasswordResetLink && !showNameEle" mat-stroked-button
                    (click)="sendPasswordResetLink();">
                    Reset Password</button><br>
                  <button *ngIf="!signInSignUp" class="mt-2" mat-stroked-button type="submit">Sign In</button>
                  <p *ngIf="signInSignUp">Please! wait SignIn / SignUP Process</p>
                </div>
              </form>
              <p></p>
              <div class="text-center">
                <mat-icon id="googleIcon" style="cursor: pointer;" svgIcon="google-icon" (click)="signInWithGoogle()"
                  aria-hidden="false" aria-label="google_icon SVG icon">
                </mat-icon>
              </div>
            </mat-card-content>
          </div>
          <div class="col"></div>
        </div>
        <!-- <mat-card-actions class="text-center">
          <button mat-button>Sign In</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-12 col-sm-1 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div>
<p></p>