<div class="container-fluid p-3">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let founder of foundersList | async">
      <p>
        <mat-card class="example-card">
          <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/footerImg.svg?alt=media&token=8fbc9b7b-4d17-4620-9b61-959f295b9964"
            alt="Photo of {{founder.name}}">
          <mat-card-content>
            <div class="text-center">
              <p><b> {{founder.name}} </b></p>
              <p> <b>{{founder.email}}</b></p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </p>
    </div>
  </div>
</div>