<div *ngIf="isWishListEmpty" class="container-fluid">
    <div class="row">
        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img loading="eager" class="img-fluid"
                src="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/Empty_Cart.png?alt=media&token=6f11f85c-17e0-4f2f-9e7b-afed2fb180df" />
            <p></p>
            <h3>Wish List is Empty<br>
                <small>
                    Looks like you have nothing in Wish List
                </small></h3>
        </div>
    </div>
</div>
<p></p>