<div class="container-fluid">
    <p>contact works!</p>

    <div class="row">
        <!-- Company contact Info -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <!-- Company contact Form -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Contact Us Form</mat-card-title>
                    <mat-card-subtitle>Submit your feedback / problem</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>