<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
  <p></p>
</div>
<div *ngIf="!isCartListEmpty" class="container-fluid">
  <div class="row" *ngIf="productsOrderGrandTotal!==0 && totalPrice!==0">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center 
      align-items-center justify-content-center align-self-center">
      <p>Price <br> <b>{{totalPrice}}</b></p>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center
      align-self-center align-items-center justify-content-center">
      <p>Delivery Charge + Price <br>
        <b>{{productsOrderGrandTotal}}</b>
      </p>
    </div>
    <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 
    text-center align-items-center justify-content-center">
      <button mat-stroked-button (click)="Pay()">Pay</button>
    </div>
    <div class="text-center col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2"
      *ngFor="let product of (cartProductList | keyvalue); let i=index">
      <!-- <p>{{product.value.id}}</p>-->
      <p>
        <mat-card class="example-card productMatCard">
          <mat-card-header>
            <mat-card-title>{{product.value.name}}</mat-card-title>
            <!-- <a [title]="product.value.name + ' details'"
              [routerLink]="['/products',catID,'productInfo', product.value.id]">
              {{ product.value.name }}
            </a>-->
            <mat-card-subtitle>{{product.value.companyName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image loading="eager" class="img-fluid img-thumbnail" src="{{product.value.img}}"
            alt="{{product.value.name}}">
          <mat-card-content>
            <!-- <p>product information</p> -->
            <div class="row" *ngIf="product.value.flavours">
              <div class="text-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                *ngFor="let flavour of product.value.flavours; let j = index">
                <mat-checkbox class="example-margin" [checked]="product.value.selectedFlavours[j].selected"
                  [value]="flavour" (change)="onChange($event,flavour,i,j)">
                  <small><b>{{flavour}}</b></small>
                </mat-checkbox>
                <!-- <p>I : {{i}}</p> -->
                <!-- <p>{{product.value.selectedFlavours[j].selected}}</p> -->
              </div>
            </div>
            <small *ngIf="product.value.total; else priceBlock"><b>price </b> {{product.value.total}} </small>
            <ng-template #priceBlock>
              <small *ngIf="product.value.price"><b>price </b> {{product.value.price}} </small>
            </ng-template>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col text-center">
                <mat-icon svgIcon="notLikedProduct" aria-hidden="false" aria-label="Product is not Liked"></mat-icon>
                <button mat-stroked-button
                  (click)="removeItemFromCart(i,product.value.id,product.value.price,product.value.total)">
                  Remove</button>
                <!-- <mat-icon svgIcon="likedProduct" aria-hidden="false" aria-label="Product is Liked"></mat-icon>
              <mat-icon (click)="removeFromCart(product.value.id)" svgIcon="addToCart" aria-hidden="false"
                aria-label="Add to Cart">
              </mat-icon> -->
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </p>
    </div>
  </div>

  <!-- <script type="application/html" crossorigin="anonymous"
    src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/c!Ji88tF1uc7WotU.js"
    onload="onScriptLoad();"> </script>
  <script>
    function onScriptLoad() {
      var config = {
        "root": "",
        "flow": "DEFAULT",
        "data": {
          "orderId": { orderId }, /* update order id */
          "token": "", /* update token value */
          "tokenType": "TXN_TOKEN",
          "amount": { amount } /* update amount */
        },
        "handler": {
          "notifyMerchant": function (eventName, data) {
            console.log("notifyMerchant handler function called");
            console.log("eventName => ", eventName);
            console.log("data => ", data);
          }
        }
      };

      if (window.Paytm && window.Paytm.CheckoutJS) {
        window.Paytm.CheckoutJS.onLoad(function excecuteAfterCompleteLoad() {
          // initialze configuration using init method 
          window.Paytm.CheckoutJS.init(config).then(function onSuccess() {
            // after successfully updating configuration, invoke JS Checkout
            window.Paytm.CheckoutJS.invoke();
          }).catch(function onError(error) {
            console.log("error => ", error);
          });
        });
      }
    }
  </script> -->

</div>

<div *ngIf="isCartListEmpty" class="container-fluid">
  <div class="row">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img loading="eager" class="img-fluid"
        src="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/Empty_Cart.png?alt=media&token=6f11f85c-17e0-4f2f-9e7b-afed2fb180df" />
      <p></p>
      <h3>Cart List is Empty<br><small>
          Looks like you have nothing in cart list
        </small></h3>
    </div>
  </div>
</div>
<p></p>