<p></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
      <mat-slide-toggle [checked]="isChecked" (change)="bhartiyaToggle($event)">Only Bhartiya Brands</mat-slide-toggle>
    </div>
    <div class="text-center col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2"
      *ngFor="let product of (products | keyvalue); let i = index">
      <!-- <p>{{product.value.id}}</p> -->
      <!-- <p>{{product.value.flavours}}</p> -->
      <!-- <p>{{product.value.selectedFlavours.value.selected}}</p> -->
      <!-- <div *ngFor="let f of (product.value.selectedFlavours | keyvalue); let i = index">
        <p>{{f.value.selected}}</p>
      </div> -->
      <p>
        <mat-card class=" example-card productMatCard">
          <mat-card-header style="cursor: pointer;" (click)="goToProductDetails(catID,product.value.id)">
            <mat-card-title>{{product.value.name}}</mat-card-title>
            <!-- <a [title]="product.value.name + ' details'"
                [routerLink]="['/products',catID,'productInfo', product.value.id]">
                {{ product.value.name }}
              </a>-->
            <mat-card-subtitle>{{product.value.companyName}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="cursor: pointer;" (click)="goToProductDetails(catID,product.value.id)"
            loading="eager" class="img-fluid img-thumbnail" src="{{product.value.img}}"
            alt="{{product.value.name}} Image">

          <mat-card-content style="cursor: pointer;">
            <small><b>price : </b> {{product.value.price}} </small>
            <!-- <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p> -->

            <!-- <form [formGroup]="flavourFormGroup" (ngSubmit)="submit()">
              <div *ngFor="let flavour of flavours; let j = index">
                <mat-checkbox class="example-margin" (change)="onChange($event,flavour,i,j)" [value]="flavour">
                  {{flavour}}
                </mat-checkbox>
              </div>
            </form> -->

            <div class="row" *ngIf="product.value.flavours">
              <div class="text-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                *ngFor="let flavour of product.value.flavours; let j = index">
                <mat-checkbox class="example-margin" [checked]="false" [value]="flavour"
                  (change)="onChange($event,flavour,i,j)">
                  <small><b>{{flavour}}</b></small>
                </mat-checkbox>
                <!-- <p>{{flavour}}</p> -->
                <!-- <p>I : {{i}}</p> -->
                <!-- <p>{{product.value.selectedFlavours[j].value}}</p>-->
              </div>
              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>{{product.value.checkedMessage}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <mat-icon svgIcon="notLikedProduct" (click)="addToWishList(product.value.id,i)" aria-hidden="false"
                  aria-label="Product is not Liked"></mat-icon>
                <!-- <mat-icon svgIcon="likedProduct" aria-hidden="false" aria-label="Product is Liked"></mat-icon> -->
                <!-- <button mat-stroked-button>Added To Cart</button> -->
                <mat-icon style="cursor: pointer;" (click)="addToCart(product.value.id,i)" svgIcon="addToCart"
                  aria-hidden="false" aria-label="Add to Cart">
                </mat-icon>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </p>
    </div>
  </div>
</div>