<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div class="row text-center align-items-center justify-content-center">
            <div class="col-12">
              <!-- <mat-card-title class="text-center">{{name}}</mat-card-title> -->
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="text-center">
            <b>
              <p>{{name}}</p>
            </b>
            <p>{{email}}</p>
            <p>{{emailVerifiedMessage}}</p>

            <div class="text-center" *ngIf="isEmailVerified!==true">
              <p>
                <button mat-stroked-button (click)=sendVerificationEmail()>Verify Email</button>
              </p>
            </div>

            <p>{{phone}}</p>
            <p>{{city}}</p>
            <p>{{state}}</p>
            <p>{{address}}</p>
            <p>Complated Orders :- {{complatedOrders}} </p>
            <p> pendingOrder :- {{pendingOrders}} </p>
            <p>Products in Cart :- {{cart}} </p>
            <p>Wishes List:- {{wish}} </p>
          </div>
          <div class="text-center">
            <button mat-stroked-button (click)="updateProfile()">Update Profile</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div>
<p></p>