/* Importing Bootstrap SCSS file. */
// Required
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* You can add global styles to this file, and also import other style files */
// $titleSize: 2.5vw;
// $textSize: 1.5vw;

// $titleSizeForPhone: 2.5vh;
// $textSizeForPhoneSize: 3.5vw;

@media only screen and (max-width: 576px) {
  .productMatCard {
    img {
      height: 10vh;
    }
  }
}

@media only screen and (min-width: 576px) {
  .productMatCard {
    img {
      height: 10vh;
    }
  }
}

@media only screen and (min-width: 768px) {
  .productMatCard {
    img {
      height: 20vh;
    }
  }
}

@media only screen and (min-width: 992px) {
  .productMatCard {
    img {
      height: 20vh;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .productMatCard {
    img {
      height: 20vh;
    }
  }
}

$bgColor: #9fca35;
html,
body {
  height: 100%;
  font: 1rem/1.5 var(--font-family-sans-serif);
  margin: 0;
  // text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // text-align: justify;
  // text-justify: inter-word;
}
div {
  text-align: justify;
  text-justify: inter-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
  text-align: justify;
  text-justify: inter-word;
}

p,
small {
  // text-align: left;
  justify-content: stretch;
  // text-align: justify;
  // text-justify: inter-word;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

$enable-shadows: true;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left {
      text-align: left !important;
    }
    .text#{$infix}-right {
      text-align: right !important;
    }
    .text#{$infix}-center {
      text-align: center !important;
    }
  }
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.4rem;
  }
}
