$fullWid: 100vw;
$imgHight: 50vh;
$smallImgHight: 30vh;

@import "../../styles.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

p,
small {
  text-align: center;
  font-weight: bold;
}

.productTitleRow {
  margin-top: -2%;
}

$bgImg: "https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/smallBG.png?alt=media&token=fb93b49e-8cc3-41b0-a78b-e4f874e1188d";

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   #catList {
//     background: url($bgImg) no-repeat center center;
//     //background-attachment: fixed;
//     // background-size: cover;
//     //background-size: contain;
//     object-fit: cover;
//     background-position: center;
//     height: fit-content;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//   }
// }

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1299px) {

// }

// @media only screen and (min-width: 576px) {
//   .carousel {
//     .item {
//       height: $smallImgHight;
//       width: $fullWid;
//     }
//     img {
//       height: $smallImgHight;
//       width: $fullWid;
//     }
//   }
// }

@media screen and (max-width: 768px) {
  #catListImg {
    height: 12vh;
    width: auto;
    padding: 3px;
    background-color: white;
    border: 1px solid $bgColor;
    border-radius: 4px;
  }
  .carousel {
    .item {
      height: $smallImgHight;
      width: $fullWid;
    }
    img {
      height: $smallImgHight;
      width: $fullWid;
    }
  }
}

@media screen and (min-width: 769px) {
  #catListImg {
    height: 15vh;
    width: auto;
    padding: 3px;
    background-color: white;
    border: 1px solid $bgColor;
    border-radius: 4px;
  }

  .carousel {
    .item {
      height: $imgHight;
      width: $fullWid;
    }
    img {
      height: $imgHight;
      width: $fullWid;
    }
  }
}
