<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption"></div>
      <!-- <img
          class="img-fluid d-block w-100" type="image/svg+xml" loading="eager" alt="First Offer"> -->
      <picture class="img-fluid">
        <source media="(min-width: 900px)"
          srcset="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/bigBanner.png?alt=media&token=4669d420-7800-445f-ab67-391b15b835bd"
          alt="offers">
        <source media="(min-width: 480px)"
          srcset="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/forSmallDeviceBigBanner.png?alt=media&token=a686963e-4abe-45ec-8fb2-1ef47cd2d1ac"
          alt="offers">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/forSmallDeviceBigBanner.png?alt=media&token=a686963e-4abe-45ec-8fb2-1ef47cd2d1ac"
          alt="offers">
      </picture>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption"></div>
      <picture>
        <source media="(min-width: 900px)"
          srcset="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/bigBanner.png?alt=media&token=4669d420-7800-445f-ab67-391b15b835bd"
          alt="offers">
        <source media="(min-width: 480px)"
          srcset="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/forSmallDeviceBigBanner.png?alt=media&token=a686963e-4abe-45ec-8fb2-1ef47cd2d1ac"
          alt="offers">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/mymart-910ff.appspot.com/o/forSmallDeviceBigBanner.png?alt=media&token=a686963e-4abe-45ec-8fb2-1ef47cd2d1ac"
          alt="offers">
      </picture>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- carousel -->

<div>
  <div class="container-fluid text-center">
    <!-- // text-center -->
    <div class="row productTitleRow">
      <div class="col text-center">
        <h3>Our Products</h3>
      </div>
    </div>
    <div class="row justify-content-center  text-center">
      <!-- // justify-content-center -->
      <div *ngFor="let productCat of catList | async">
        <div class="col-12 col-sm-12 tex-center 
        align-content-center align-self-center center justify-content-center">
          <!-- // tex-center align-content-center align-self-center center -->
          <img id="catListImg" loading="eager" class="img-fluid rounded-circle" src={{productCat.img}}
            alt="{{productCat.name}}">
          <p>
            <small>{{productCat.name}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>