<p>update-profile works!</p>
<!-- [formGroup]="updateProfileForm" (ngSubmit)="" -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6 text-center">
            <p>
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Update Profile</mat-card-title>
                        <mat-card-subtitle>Changes details which you want to update</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <form [formGroup]="updateProfileFormG" (ngSubmit)="onProfileUpdateFormSubmit()">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput placeholder="Name Surname" formControlName="userName" required>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint align="start"><strong>Enter Name Surname</strong>
                                    </mat-hint>
                                    <mat-error *ngIf="userNameMessage">{{userNameMessage}}</mat-error>
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput placeholder="Enter Address" formControlName="userAddress" required>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>House No., name, area, landmark, city, pincode</mat-hint>
                                    <mat-error *ngIf="userAddressMessage">{{userAddressMessage}}</mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="Enter City" formControlName="userCity" required>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>City</mat-hint>
                                    <mat-error *ngIf="userCityMessage">{{userCityMessage}}</mat-error>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="Enter State" formControlName="userState" required>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>State</mat-hint>
                                    <mat-error *ngIf="userStateMessage">{{userStateMessage}}</mat-error>
                                </mat-form-field>
                            </p>
                            <div class="text-center">
                                <button mat-stroked-button type="submit">Update</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </p>
        </div>
        <div class="col-12 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
</div>